*{
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}
body {
    background-color: rgb(20, 20, 20);
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    justify-content: center;
    align-items: center;
}
header {
    text-align: center;
    align-items: center;
    justify-content: center;
    color: white;
    display: flex;
    padding: 25px;
    width: 100%;
    padding-left: 47px;
}
main {
    max-width: 550px;
    padding-left: 47px;
    width: 100%;
    height: 100vh;
    flex: 1;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
}
.resum {
    display: flex;
    padding: 10px 0;
    gap: 30px;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
}
.resu-ms {
    display: none;
    padding: 0px;
    gap: 7px;
    width: 100%;
    justify-content: center;
    flex-wrap: nowrap;
    transition: ease-in-out 15s;
}
ul li.ativo .resu-ms{
    display: flex;
}
.resum>div {
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 5px #ffffffec;
    border-radius: 10px;
    padding: 10px;
    width: 145px;
}
.resu-ms>div {
    color: rgb(255, 255, 255);
    display: flex;
    background-color: #ffffff;
    flex-direction: column;
    box-shadow: 0px 0px 3px #0e0e0e;
    border-radius: 10px;
    padding: -2px 0px;
    height: 20px;
    width: 60px;
    font-size: 10px;
}
.resu-m>span{
    margin-top: -10px;
    padding-right: 5px;
    text-align: end;
    color: #202020;
}
.newItem {
    display: flex;
    gap: 10px;
    align-items: end;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
}
.divDesc, .divType, .divAmount {
    flex: 1;
    display: flex;
    flex-direction: column;
}
.newItem>button {
    background-color: #ff0077;
    color: white;
    border: none;
    padding: 0 15px;
    border-radius: 5px;
    cursor: pointer;
    height: 34px;
}
input, select {
    padding: 5px;
    background: transparent;
    color: white;
}
select {
    background-color: rgb(20, 20, 20);
}
label {
    color: rgb(253, 253, 253);
}
.divTable {
    width: 100%;
    display: flex;
    justify-content: center;
}
table {
    width: 98%;
    padding: 20px 0;
    border-radius: 5px;
}
th {
    color: #ff0077;
    text-align: start;
    border-bottom: inset;
    padding-bottom: 5px;
}
td {
    color: white;
}
i {
    font-size: 25px;
}
.bi-database-fill-up {
    color: #00ff37;
}
.bi-database-fill-down {
    color: #ff1500;
}
.columnAction {
    width: 40px;
    text-align: center;
}
.columnAction>button {
    background: transparent;
    border: none;
}
.columnAmount {
    width: 30%;
}
.columnType {
    width: 80px;
    text-align: center;
}
div {
    padding-top: 5px;
    overflow: hidden;
}
nav.lateral {
    width: 47px;
    height: 100%;
    background-color: #202020;
    padding-top: 30px;
    box-shadow: 3px 0 0 #ff0077;
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    transition: .2s;
}
.btn-exp {
    width: 100%;
    padding-left: 12px;
}
.btn-exp > i{
    color: #ffffff;
    font-size: 24px;
    cursor: pointer;
}
ul {
    height: 100%;
    list-style-type: none;
}
ul li.mes a {
    color: #202020;
    text-decoration: none;
    font-size: 15px;
    padding: 2px 4%;
    display: flex;
    margin-bottom: 10px;
    line-height: 40px;
}
ul li.mes a .txt-link {
    margin-left: 20px;
    display: flex;
    font-size: 17px;
}
ul li.ativo.mes a .txt-link{
    margin-left: 20px;
    margin-top: -10px;
    margin-bottom: -5px;
    font-size: 12px;
}
ul li.mes a .icon > i {
    font-size: 30px;
    margin-left: 10px;
    padding-top: 0px;

}
ul li.mes {
    transition: .2s;
}
ul li.mes .expan:hover{
    background-color: #ff0077;
}
ul li.ativo.mes .expan{
    background-color: #ff0077;
}
nav.lateral.expandir{
    width: 250px;
}
ul li.mes a.expan{
    color: #ffffff;
}
.end{
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 20px;
    right: 20px;
}
.end>select {
    border-radius: 17px;
    display: flex;
    background-color: rgb(20, 20, 20);
}
.end>button {
    background-color: #ff0077;
    color: white;
    border: none;
    padding: 0 15px;
    border-radius: 17px;
    cursor: pointer;
    height: 34px;
}
