@import '../index.css';

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
  width: 80vw;
  background-color: var(--shawdon-w);
  border-radius: 40px;
  border: 3px solid var(--white);
  box-shadow: 0 0 15px 3px var(--shawdon);
}

.content {
  display: flex;
  align-items: center;
  width: 96%;
  height: 94%;
  background-color: var(--white);
  border-radius: 25px;
  box-shadow: 0 0 7px 1px var(--shawdon);
  position: relative;
}